<h2><%= @movie.title %><br></h2>
<p>
  Creation Year: <%= @movie.creation_year %><br>
  Genre: <%= @movie.genre %>
</p>
<h3>Actors</h3>
<p>
  <% @actors.each do |actor| %>
    <%= actor.name %><br>
  <% end %>
</p>
<p>
  Average Age of Actors: <%= @actors.average_age %>
</p>
