<h2><%= @movie.title %><br></h2>
<p>
  Creation Year: <%= @movie.creation_year %><br>
  Genre: <%= @movie.genre %>
</p>

<section id='actors'>
  <h3>Actors</h3>
  <p>
    <% @actors.each do |actor| %>
      <%= actor.name %><br>
    <% end %>
  </p>
</section>
<p>
  Average Age of Actors: <%= @actors.average_age %>
</p>

<h3>Add an Actor to this Movie</h3>
<%= form_with url: "/movies/#{@movie.id}", method: :post, local: true do |f| %>
  <%= f.label :name, 'Actor Name:' %>
  <%= f.text_field :name %>

  <%= f.submit 'Submit'%>
<% end %>
